<div class="table-responsive my-4">
	<table class="table table-borderless table-hover rounded-4 overflow-hidden">
		<thead>
			<tr>
				{% block thead %}{% endblock %}
				<th class="dark-blue">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% block tbody %}{% endblock %}
		</tbody>
	</table>
</div>
