<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Prescription</title>

		<style>
			@page {
				size: A5 portrait;
				margin: 0;
			}

			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			html,
			body {
				height: 100%;
			}

			body {
				font-family: Arial, sans-serif;
			}

			header,
			footer {
				background: #1c274c;
				color: #fff;
				height: 10%;
				padding: 15px;
        display:grid;
        grid-template-columns: 200px 200px 100px ;
			}

			main {
				padding: 20px;
				height: 67.4%
			}

      p{
        align-self:center
      }
		</style>
	</head>

	<body>
		<header>
			<h2>Medical Prescription</h2>
		</header>

		<main>

    </main>

		<footer>
			<p>Doctor Signature</p>
			<p>Doctor Signature</p>
			<p>Doctor Signature</p>
			<p>Doctor Signature</p>
		</footer>
	</body>
</html>
