@import "bootstrap.min.css";

.dark-blue {
  background-color: #1c274c !important;
  color: white !important;
  /* background-color: #656e85 !important; */
}

.navbar {
  /* z-index: 1000; */
  /* width: fit-content; */
  transition: width 0.3s ease-in-out;
}

.menu-btn {
  transition: transform 0.3s ease-in-out;
}

.modal {
  backdrop-filter: blur(5px);
}

.login-wrapper {
  width: 30% !important;
}

/* .kpis {
  height: 250px;
} */

main.flex-fill {
  flex: 1 1 auto; /* allow main to grow and shrink */
  min-width: 0; /* important: allows content to shrink inside flex */
}

@media (max-width: 992px) {
  .login-wrapper {
    width: 90% !important;
  }
}
