@import "bootstrap.min.css";

.dark-blue {
  background-color: #1c274c !important;
  color: white !important;
  /* background-color: #656e85 !important; */
}

.navbar {
  /* z-index: 1000; */
  /* width: fit-content; */
  transition: width 0.3s ease-in-out;
}

.menu-btn {
  transition: transform 0.3s ease-in-out;
}

.modal {
  backdrop-filter: blur(5px);
}

/* .crud-alert {
  width: 0px;
  animation: alert-show 0.3s ease-in-out;
}

@keyframes alert-show {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
} */

.login-wrapper {
  width: 30% !important;
}

@media (max-width: 992px) {
  .login-wrapper {
    width: 90% !important;
  }
}
